@font-face {
    font-family: "RX100";
    src: url(RX100-Regular.woff2)format ("woff2");
}

*{

    box-sizing: border-box;
}
    body{
    background: rgb(255, 249, 216);
    font-family: "RX100", sans-serif;
  font-optical-sizing: auto;
}

h1{
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}
p{
    max-width: 600px;
}

/* header */
.header{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-bottom: 30px;
}
.header a{
    text-decoration: none;
    color: currentColor;

}

.nav{
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);
    justify-content: center;
    gap:12px;
}

.nav a{
    text-decoration: none;
    color:currentColor;
    font-size: 10px;}

.nav a span{
    display: block;
    padding: 12px;
}

/** page projet**/

.projet{
    background: rgb(255, 0, 208);
    color: aliceblue;
}

.projet h1{
    font-size: 100px;
}